body{
    
        height: 100vh; /* Set height to 100% of viewport */
        background: linear-gradient(to bottom, #813c3c, #4f2b2b);
        overflow: hidden; /* Prevent scrollbars */
      
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
button{
    transition: ease-in;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color: #FF7B54;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.container button:hover {
    cursor: pointer;
   transition: 0.3s;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(189, 68, 68, 0.5);
    background-color: #FFB26B;
  }

.logo{
    display: flex;
    
    align-items: center;
    justify-content: center;
   
}
.logo img{
width: 200px;
margin: 20px;
margin-bottom: 30px;
}